.moveright {margin-left: 135px}
.pushright {float: right}
.pushdown {margin-bottom: 10px}
.cardwidth {width: 250px;}
.imgsize {width: 220px; height: 220px; margin-left: 14px; cursor: pointer;}
/* img {background: url(/img/cookie.png) no-repeat center;} */

 .tbbg1 {background: #dff0f8}
.tbbg2 {background: #ccff99}
.tbbg3 {background: #F9E79F}
.pushdwn {margin-top: 45px }
.cmtbg1 {background: #D3D3D3; padding: 7px 0 ;}
.cmtbg2 {background: #5F8575; padding: 7px 0 ;}
.pushright {float: right}
